# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Output folders
/bin/
/build/
/dist/

# Go tools
*.cover
*.log

# Dependency directories
vendor/

# IDE/editor-specific files
.vscode/
.idea/
*.swp
*.swo
*.bak
*.tmp
*.DS_Store

# Git hooks or local scripts
hooks/

# Environment files
.env
.env.local
.env.*
